library/src/test/java/org/jbpm/bpel/xml/partnerLinkTypeSample-1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  targetNamespace="http://manufacturing.org/wsdl/purchase" 
  xmlns:tns="http://manufacturing.org/wsdl/purchase" 
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/
                      http://schemas.xmlsoap.org/ws/2003/05/partner-link/ http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="schedulingLT">
    <plnk:role name="schedulingService">
      <plnk:portType name="tns:schedulingPT"/>
    </plnk:role>
    <plnk:role name="schedulingRequester">
      <plnk:portType name="tns:schedulingCallbackPT"/>
    </plnk:role>
  </plnk:partnerLinkType>  
  <message name="scheduleMessage">
    <part name="schedule" type="tns:ScheduleInfo"/>
  </message>
  <portType name="schedulingCallbackPT">
    <operation name="returnScheduleTicket">
      <input message="tns:scheduleMessage"/>
    </operation>
  </portType>
  <portType name="schedulingPT">
    <operation name="requestScheduling">
      <input message="tns:scheduleMessage"/>
    </operation>
    <operation name="sendShippingSchedule">
      <input message="tns:scheduleMessage"/>
    </operation>
  </portType>
</definitions>