examples/trip/src/main/bpel/trip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="trip" targetNamespace="http://jbpm.org/examples/trip"
  xmlns:tns="http://jbpm.org/examples/trip" xmlns:tic="http://jbpm.org/examples/ticket"
  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:bpel="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">

  <import namespace="http://jbpm.org/examples/ticket" location="ticket.wsdl" />

  <types>

    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://jbpm.org/examples/trip">

      <xsd:complexType name="Flight">
        <xsd:attribute use="required" name="airline" type="xsd:string" />
        <xsd:attribute use="required" name="number" type="xsd:int" />
      </xsd:complexType>

      <xsd:complexType name="Hotel">
        <xsd:attribute use="required" name="name" type="xsd:string" />
      </xsd:complexType>

      <xsd:complexType name="RentalCar">
        <xsd:attribute use="required" name="company" type="xsd:string" />
      </xsd:complexType>

      <xsd:complexType name="ItemSet">
        <xsd:sequence>
          <xsd:element name="flight" minOccurs="0" type="tns:Flight" />
          <xsd:element name="hotel" minOccurs="0" type="tns:Hotel" />
          <xsd:element name="rentalCar" minOccurs="0" type="tns:RentalCar" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="order">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="items" type="tns:ItemSet" />
            <xsd:element name="date" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="invoice">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="locator" type="xsd:int" use="required" />
          <xsd:attribute name="cost" type="xsd:double" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="cancelation">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="locator" type="xsd:int" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="penalty">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="fee" type="xsd:double" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="query">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="locator" type="xsd:int" use="required" />
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="detail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="items" type="tns:ItemSet" />
          </xsd:sequence>
          <xsd:attribute name="cost" type="xsd:double" use="required" />
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>

  </types>

  <message name="purchaseRequest">
    <part name="order" element="tns:order" />
  </message>

  <message name="purchaseResponse">
    <part name="invoice" element="tns:invoice" />
  </message>

  <message name="cancelResponse">
    <part name="penalty" element="tns:penalty" />
  </message>

  <message name="detailResponse">
    <part name="detail" element="tns:detail" />
  </message>

  <message name="detailRequest">
    <part name="query" element="tns:query" />
  </message>

  <message name="cancelRequest">
    <part name="cancelation" element="tns:cancelation" />
  </message>

  <portType name="TravelAgent">
    <operation name="purchaseTrip">
      <input message="tns:purchaseRequest" />
      <output message="tns:purchaseResponse" />
    </operation>
    <operation name="cancelTrip">
      <input message="tns:cancelRequest" />
      <output message="tns:cancelResponse" />
    </operation>
    <operation name="getTripDetail">
      <input message="tns:detailRequest" />
      <output message="tns:detailResponse" />
    </operation>
  </portType>

  <plt:partnerLinkType name="Traveler-Agent">
    <plt:role name="Agent">
      <plt:portType name="tns:TravelAgent" />
    </plt:role>
  </plt:partnerLinkType>

  <plt:partnerLinkType name="Agent-Ticket">
    <plt:role name="TicketIssuer">
      <plt:portType name="tic:TicketIssuer" />
    </plt:role>
  </plt:partnerLinkType>

  <bpel:property name="tripLocator" type="xsd:int" />

  <bpel:propertyAlias propertyName="tns:tripLocator" messageType="tns:purchaseResponse"
    part="invoice" query="/tns:invoice/@locator" />

  <bpel:propertyAlias propertyName="tns:tripLocator" messageType="tns:cancelRequest"
    part="cancelation" query="/tns:cancelation/@locator" />

  <bpel:propertyAlias propertyName="tns:tripLocator" messageType="tns:detailRequest" part="query"
    query="/tns:query/@locator" />

  <bpel:propertyAlias propertyName="tns:tripLocator" messageType="tic:ticketMessage"
    part="ticketNo" />

</definitions>