examples/purchase/src/main/bpel/purchase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://manufacturing.org/wsdl/purchase"
  xmlns:pos="http://manufacturing.org/wsdl/purchase"
  xmlns:sns="http://manufacturing.org/xsd/purchase"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xsd:schema>
      <xsd:import namespace="http://manufacturing.org/xsd/purchase" schemaLocation="purchase.xsd" />
    </xsd:schema>
  </types>

  <message name="POMessage">
    <part name="customerInfo" type="sns:customerInfo" />
    <part name="purchaseOrder" type="sns:purchaseOrder" />
  </message>

  <message name="InvMessage">
    <part name="IVC" type="sns:Invoice" />
  </message>

  <message name="orderFaultType">
    <part name="problemInfo" element="sns:problemInfo" />
  </message>

  <message name="shippingRequestMessage">
    <part name="customerInfo" type="sns:customerInfo" />
  </message>

  <message name="shippingInfoMessage">
    <part name="shippingInfo" type="sns:shippingInfo" />
  </message>

  <message name="scheduleMessage">
    <part name="schedule" type="sns:scheduleInfo" />
  </message>

  <!-- portTypes supported by the purchase order process -->

  <portType name="purchaseOrderPT">
    <operation name="sendPurchaseOrder">
      <input message="pos:POMessage" />
      <output message="pos:InvMessage" />
      <fault name="cannotCompleteOrder" message="pos:orderFaultType" />
    </operation>
  </portType>

  <portType name="invoiceCallbackPT">
    <operation name="sendInvoice">
      <input message="pos:InvMessage" />
    </operation>
  </portType>

  <portType name="shippingCallbackPT">
    <operation name="sendSchedule">
      <input message="pos:scheduleMessage" />
    </operation>
  </portType>

  <!-- portType supported by the invoice services -->

  <portType name="computePricePT">
    <operation name="initiatePriceCalculation">
      <input message="pos:POMessage" />
    </operation>
    <operation name="sendShippingPrice">
      <input message="pos:shippingInfoMessage" />
    </operation>
  </portType>

  <!-- portType supported by the shipping service -->

  <portType name="shippingPT">
    <operation name="requestShipping">
      <input message="pos:shippingRequestMessage" />
      <output message="pos:shippingInfoMessage" />
      <fault name="cannotCompleteOrder" message="pos:orderFaultType" />
    </operation>
  </portType>

  <!-- portType supported by the production scheduling process -->

  <portType name="schedulingPT">
    <operation name="requestProductionScheduling">
      <input message="pos:POMessage" />
    </operation>
    <operation name="sendShippingSchedule">
      <input message="pos:scheduleMessage" />
    </operation>
  </portType>

  <plnk:partnerLinkType name="purchasingLT">
    <plnk:role name="purchaseService">
      <plnk:portType name="pos:purchaseOrderPT" />
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="invoicingLT">
    <plnk:role name="invoiceService">
      <plnk:portType name="pos:computePricePT" />
    </plnk:role>
    <plnk:role name="invoiceRequester">
      <plnk:portType name="pos:invoiceCallbackPT" />
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="shippingLT">
    <plnk:role name="shippingService">
      <plnk:portType name="pos:shippingPT" />
    </plnk:role>
    <plnk:role name="shippingRequester">
      <plnk:portType name="pos:shippingCallbackPT" />
    </plnk:role>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType name="schedulingLT">
    <plnk:role name="schedulingService">
      <plnk:portType name="pos:schedulingPT" />
    </plnk:role>
  </plnk:partnerLinkType>

</definitions>