tools/src/test/java/org/jbpm/bpel/tools/interface/doc.wsdl

<definitions name="trip" targetNamespace="http://jbpm.org/examples/trip/"
  xmlns:tns="http://jbpm.org/examples/trip/"
  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>

    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://jbpm.org/examples/trip/">

      <xsd:complexType name="Flight">
        <xsd:attribute name="airline" type="xsd:string" use="required" />
        <xsd:attribute name="number" type="xsd:int" use="required" />
      </xsd:complexType>

      <xsd:complexType name="Hotel">
        <xsd:attribute name="name" type="xsd:string" use="required" />
      </xsd:complexType>

      <xsd:complexType name="RentalCar">
        <xsd:attribute name="company" type="xsd:string" use="required" />
      </xsd:complexType>

      <xsd:complexType name="ItemSet">
        <xsd:sequence>
          <xsd:element name="flight" type="tns:Flight" minOccurs="0" />
          <xsd:element name="hotel" type="tns:Hotel" minOccurs="0" />
          <xsd:element name="rentalCar" type="tns:RentalCar" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Order">
        <xsd:sequence>
          <xsd:element name="items" type="tns:ItemSet" />
        </xsd:sequence>
        <xsd:attribute use="required" name="date" type="xsd:dateTime" />
      </xsd:complexType>

      <xsd:complexType name="Invoice">
        <xsd:attribute name="locator" type="xsd:int" use="required" />
        <xsd:attribute name="cost" type="xsd:double" use="required" />
      </xsd:complexType>

      <xsd:element name="order" type="tns:Order" />

      <xsd:element name="invoice" type="tns:Invoice" />

    </xsd:schema>

  </types>

  <message name="purchaseRequest">
    <part name="order" element="tns:order" />
  </message>

  <message name="purchaseResponse">
    <part name="invoice" element="tns:invoice" />
  </message>

  <portType name="TravelAgent">
    <operation name="purchaseTrip">
      <input message="tns:purchaseRequest" />
      <output message="tns:purchaseResponse" />
    </operation>
  </portType>

</definitions>